<section>

    <a name="menu"></a>

    <ul data-theme="a" data-role="listview">

        <% unless page == 'pages' %>
            <li><%= link_to "Home", :root %></li>
        <% end %>

        <% unless page == 'standings' %>
            <li><%= link_to "Standings", :standings  %></li>
        <% end %>

        <% unless page == 'team_schedule' %>
            <li><%= link_to "Team Schedule", :team_schedule  %></li>
        <% end %>

        <% unless page == 'league_schedule' %>
            <li><%= link_to "League Schedule", :league_schedule %></li>
        <% end %>

        <% unless page == 'stats' %>
            <li><%= link_to "Team Stats", :stats %></li>
        <% end %>

        <% unless page == 'league_stats' %>
            <li><%= link_to "League Leaders", :league_stats %></li>
        <% end %>

    </ul>

</section>