<section>

    <ul data-theme="a" data-role="listview">

        <li><%= link_to "Home", :root %></li>

        <li><%= link_to "Standings", :standings  %></li>

        <li><%= link_to "Team Schedule", :team_schedule  %></li>

        <li><%= link_to "League Schedule", :league_schedule %></li>

        <li><%= link_to "Team Stats", :team_stats %></li>

        <li><%= link_to "League Stats", :league_stats %></li>

    </ul>

</section>