<% unless data.empty? %>

    <table class="standings-<%= season %>">
        <tr>
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>L</th>
            <th>OTL</th>
            <th>PTS</th>
            <th>GF</th>
            <th>GA</th>
        </tr>
        <%
        data.each do |value|
           unless value.blank?
                %>
                <tr>
                    <td><%= value['team_name'] %></td>
                    <td><%= value['gp'] %></td>
                    <td><%= value['w'] %></td>
                    <td><%= value['l'] %></td>
                    <td><%= value['otl'] %></td>
                    <td><%= value['pts'] %></td>
                    <td><%= value['gf'] %></td>
                    <td><%= value['ga'] %></td>
                </tr>
                <%
            end
        end
        %>
    </table>

<% end %>