<% unless player.nil? %>
  <li>
    <p class="stats-details">
        <strong>GP: </strong><%=player['gp'] %><br>
        <strong><%= type.upcase %>: </strong><%=player['pts'] %><br>
    </p>


    <span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><%= i %></span>
    <h3><%= player['player'] %></h3>
    <p><b><%= player['team'] %></b></p>

  </li>
  <%
end
%>