<% unless data.empty? %>

    <table class="info-table standings-<%= season %>" cellpadding="0" cellspacing="0">
        <tr>
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>L</th>
            <th>OTL</th>
            <th>PTS</th>
            <th>GF</th>
            <th>GA</th>
        </tr>
        <%
        i = 0
        data.each do |value|
           unless value.blank?
                row_class = (i % 2 == 0) ? 'odd' : 'even'
                %>
                <tr class="<%=row_class%>">
                    <td><%= value['team_name'] %></td>
                    <td><%= value['gp'] %></td>
                    <td><%= value['w'] %></td>
                    <td><%= value['l'] %></td>
                    <td><%= value['otl'] %></td>
                    <td><%= value['pts'] %></td>
                    <td><%= value['gf'] %></td>
                    <td><%= value['ga'] %></td>
                </tr>
                <%
                i = i + 1
            end
        end
        %>
    </table>

<% end %>