<%
    #print seasons nav bar
    unless @seasons.blank? %>
        <nav data-role="navbar" class="season_toggle">
            <ul>
                <%
                unless @seasons.length <= 1
                    for item in @seasons
                        %>
                        <li><a data-theme="a" data-season-type="<%= item %>" <%= 'class=ui-btn-active' if item == @current_season %>><%= item.humanize %></a></li>
                        <%
                    end
                end
                %>
            </ul>
        </nav>

        <section class="data-list">

            <% unless @regular_stats.nil? or @regular_stats[:player].nil? or @regular_stats[:goalie].nil? %>
                <article class="regular <%= ' data-list-active' if @current_season == 'regular' %>">
                    <%= render :partial => "partials/player_stats", :locals => { :data => @regular_stats[:player], :season => "regular" } %>
                    <%= render :partial => "partials/goalie_stats", :locals => { :data => @regular_stats[:goalie], :season => "regular" } %>
                </article>
            <% end %>

            <% unless @playoff_stats.nil? or @playoff_stats[:player].nil? or @playoff_stats[:goalie].nil? %>
                <article class="playoffs <%= ' data-list-active' if @current_season == 'playoffs' %>">
                    <%= render :partial => "partials/player_stats", :locals => { :data => @playoff_stats[:player], :season => "playoffs" } %>
                    <%= render :partial => "partials/goalie_stats", :locals => { :data => @playoff_stats[:goalie], :season => "playoffs" } %>
                </article>
            <% end %>

        </section>

    <% else %>

       <p>No Data Found</p>

    <% end %>
<p>&nbsp;</p>

<script>
    $(function() {

        $('.data-list article').hide();

        $('.data-list article.data-list-active').fadeIn();

        $('.season_toggle ul li a').live('click',function(){

            if ($(this).hasClass('ui-btn-active')) {
                var seasonType = $(this).attr('data-season-type');

                $('.data-list article').hide();
                $('.data-list article.' + seasonType).fadeIn();
            }

        });

    });



</script>