<!DOCTYPE html>
<html>
    <head>
      <title><%= @title %></title>

      <meta charset="utf-8">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <%= javascript_include_tag "modernizr-2.0.6" %>
      <%= stylesheet_link_tag "jquery.mobile-1.0b2.min", "jquery.mobile-1.0b2.custom", "stylesheet" %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>

    </head>
    <body>

        <article id="page" data-role="page" data-title="<%= @title %>" data-theme="g">

            <header data-role="header" data-theme="g">

                <h1>
                    <%= @title %>
                    <!--<span><a href="#home">Menu</a></span>-->
                </h1>



            </header>

            <section data-role="content">

                <%= yield %>

                <p>&nbsp;</p>

                <%= render :partial => "partials/nav", :locals => { :page => @page } %>

            </section>

            <footer data-role="footer" data-theme="g">

                <h4>Go Vendetta!</h4>

            </footer>


        </article>

        <%= javascript_include_tag "jquery-1.6.2.min","jquerymobile/jquery.mobile-1.0b2.min" %>

    </body>
</html>
